.smaller{
  font-size: 16px;
  color: #566573;
  margin-bottom: 0;
}

label{
  margin-bottom: 20px;
  color: #95A5A6;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  width: 100%;
  color: #D0ECE7;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
  margin-top: 20px;
}
