.authScreen{
  background-color: #F4F6F6;
  min-height: 100vh;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.centerHorizVertic{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
