mat-checkbox {
  padding-top: 10px;
}
.form-check {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0;
}

.checkText {
  margin-left: 15px;
}

.btn {
  width: 100%;
  color: #D0ECE7;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: larger;
}
